NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://abinikeshsm_db_user:abinikeshsm_db_user@edupulse.xqs1csu.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=edupulse_secret_key2026
JWT_EXPIRES_IN=90d
CORS_ORIGIN=http://localhost:4200
GEMINI_API_KEY=AIzaSyCeAU6eGTXgVG8zdekSBwiXQWObEtwsjNM
GEMINI_MODEL=gemini-1.5-flash
